{
  "extends": [
    "eslint-config-poetez/typescript-react",
    "eslint-config-prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/promise-function-async": "off",
    "@typescript-eslint/prefer-for-of": "off",
    "guard-for-in": "off"
  }
}
