{
  "extends": [
    "eslint-config-poetez/typescript-react",
    "eslint-config-prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "guard-for-in": "off",
    "react/sort-comp": "off"
  }
}
