{
  "linters": {
    "config/**/*.js": ["npm run lint:config -- --fix", "git add"],
    "scripts/**/*.js": ["npm run lint:scripts -- --fix", "git add"],
    ".storybook/**/*.js": ["npm run lint:storybook -- --fix", "git add"],
    "src/**/*.+(ts|tsx)": ["npm run lint:src -- --fix", "node ./scripts/typecheck.js", "git add"]
  }
}
