# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE
.idea

# sources
/__stories__
/src

# configuration
/config
/.babelrc
/.editorconfig
/.gitignore
/.lintstagedrc
/.storybook
/.travis.yml
/package-lock.json
/scripts
/tsconfig.json
/tsconfig.prod.json
/tslint.json

# testing
/__tests__
/coverage

# misc
.DS_Store
.cache
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
