language: node_js
dist: trusty
node_js:
  - '8'
  - '6'
cache:
  directories:
  - $HOME/.npm
script: npm run test:cover
after_success:
  - ./node_modules/.bin/codecov -e TRAVIS_NODE_VERSION -f coverage/coverage-final.json
